/* definition font demandée */

@font-face {
    font-family: 'Roboto medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* definition variables couleur charte graphique */
:root{
    --noir: #000000;
    --vert: #659224;
    --bleu: #379EC1;
}



html{
    font-family: "Roboto light";
}

title{
    font-family: "Roboto medium";
}
.equipement{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.nom{
    border: 2px solid black;
    padding: 5px;

}
.ListeEquipement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}
#pEquipement{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
p{
    margin: 0px;
}
.CNI{
    float: right;
}